Repository resource-watch/resource-watch, pull requests merged in 2021-08, with the labels that each got.

#1742 Deploy/preproduction
  CHANGELOG.md
  components/app/myrw/areas/tabs/new/component.jsx
  components/areas/form/component.jsx
  components/areas/form/upload-area/component.jsx
  layout/explore/actions.js
  layout/explore/explore-areas-of-interest-new-area/component.jsx
  layout/explore/explore-areas-of-interest-new-area/index.js
  layout/explore/explore-areas-of-interest/form/component.jsx
  layout/explore/explore-map/component.jsx
  layout/explore/initial-state.js
  layout/explore/reducers.js
  package.json
  yarn.lock
Labels: release

#1733 river quaility swipemap and layers
  components/mini-explore-widgets/component.jsx
  components/mini-explore-widgets/map/index.jsx
  components/mini-explore-widgets/reducer.js
  components/mini-explore-widgets/widget-sidebar/index.jsx
  components/mini-explore/map/component.jsx
  components/widgets/types/map/component.jsx
  package.json
  pages/dashboards/ocean-watch/country/[iso].jsx
  public/static/data/ocean-watch.json
  utils/layers/index.js
  yarn.lock
Labels: data

#1748 Ocean Watch Intro page - map
  components/map/component.js
  components/map/utils.js
  components/tooltip-list/component.jsx
  components/tooltip-list/component.stories.jsx
  components/tooltip-list/index.js
  components/tooltip-list/styles.scss
  css/layouts/_ocean-watch.scss
  css/mapbox.scss
  layout/layout/ocean-watch/map/component.jsx
  layout/layout/ocean-watch/map/index.js
  layout/layout/ocean-watch/storytelling/component.jsx
  layout/layout/ocean-watch/storytelling/index.js
  layout/layout/ocean-watch/storytelling/indicators-navigation/component.jsx
  layout/layout/ocean-watch/storytelling/indicators-navigation/index.js
  layout/layout/ocean-watch/storytelling/story-step/component.jsx
  layout/layout/ocean-watch/storytelling/story-step/index.js
  package.json
  pages/dashboards/ocean-watch/country/[iso].jsx
  pages/dashboards/ocean-watch/index.jsx
  public/static/data/ocean-watch.json
  services/ocean-watch.js
  yarn.lock
Labels: Ocean Watch

#1750 ocean watch intro: call to actions
  CHANGELOG.md
  components/app/common/Banner.js
  css/components/app/common/banner.scss
  layout/layout/ocean-watch/map/component.jsx
  pages/dashboards/ocean-watch/index.jsx
  public/static/images/pages/app/banner-coral.jpg
  public/static/images/pages/app/banner-ocean-watch.jpg
Labels: Ocean Watch

#1754 scrolltelling
  css/layouts/_ocean-watch.scss
  layout/layout/ocean-watch/component.jsx
  layout/layout/ocean-watch/storytelling/background/component.jsx
  layout/layout/ocean-watch/storytelling/background/index.js
  layout/layout/ocean-watch/storytelling/background/styles.scss
  layout/layout/ocean-watch/storytelling/component.jsx
  layout/layout/ocean-watch/storytelling/constants.js
  layout/layout/ocean-watch/storytelling/indicators-navigation/component.jsx
  layout/layout/ocean-watch/storytelling/story-step/component.jsx
  layout/layout/ocean-watch/storytelling/story-step/styles.scss
  pages/dashboards/ocean-watch/about/index.jsx
  pages/dashboards/ocean-watch/country/[iso].jsx
  pages/dashboards/ocean-watch/country/index.jsx
  pages/dashboards/ocean-watch/index.jsx
  pages/dashboards/ocean-watch/partners/index.jsx
  public/static/images/ocean-watch/storytelling/RW-OW3D-1.jpg
  public/static/images/ocean-watch/storytelling/RW-OW3D-2.jpg
  public/static/images/ocean-watch/storytelling/RW-OW3D-3.jpg
  public/static/images/ocean-watch/storytelling/RW-OW3D-4.jpg
  public/static/images/ocean-watch/storytelling/RW-OW3D-5.jpg
  public/static/images/ocean-watch/storytelling/RW-OW3D-6.jpg
  public/static/images/ocean-watch/storytelling/RW-OW3D-7.jpg
Labels: Ocean Watch

#1759 Ocean Watch's map intro adjustments
  components/map/controls/component.js
  components/map/controls/component.jsx
  components/map/controls/zoom/component.js
  components/map/controls/zoom/styles.scss
  layout/layout/ocean-watch/map/component.jsx
Labels: Ocean Watch

#1766 ocean watch: adds call to actions in country page
  CHANGELOG.md
  components/app/common/Banner.jsx
  css/components/app/common/banner.scss
  pages/dashboards/ocean-watch/country/[iso].jsx
Labels: Ocean Watch

#1767 ocean watch: intro texts
  CHANGELOG.md
  pages/dashboards/ocean-watch/index.jsx
Labels: Ocean Watch

#1768 ocean watch: country page texts
  CHANGELOG.md
  components/card-indicator-set/numeric-card-indicator/component.jsx
  public/static/data/ocean-watch.json
Labels: Ocean Watch

#1769 ocean watch country page intro: selector and background
  CHANGELOG.md
  css/components/form/select.scss
  css/layouts/_footer.scss
  pages/dashboards/ocean-watch/country/[iso].jsx
  pages/dashboards/ocean-watch/country/index.jsx
  public/static/images/ocean-watch/placeholder-map.png
Labels: Ocean Watch
